
.btn{
  width: 20px;
  height: 20px;
  background-color: seagreen;
  border: 1px solid black;
  font-size: 10px;
  padding: 0px;
  margin: 0px;
}
.box{
  display: flex;
}
.btn:hover{
  background-color: royalblue;
}
.clicked{
  border: none;
  background-color: royalblue;
  cursor: not-allowed;
}